*{margin:0
}
body{
    
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(./imagem.jpg);
}
header{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 7vh;
    width: 100%;
    color: rgb(255, 255, 255);
}
.list{
    font-size: 150%;
    background-color: rgba(128, 128, 128, 0.623);
    width: 40%;
    height: 40%;
    flex-direction: column;
    justify-items: center;
    position: relative;
    display: flex;
    justify-content: center;

}
main{
    width: 100%;
    height: 86%;
    


}

footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 7%;
    width: 100%;
}
.centralizar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itens{
    width: 25%;
    display: flex;
    text-align: center;
    align-items: center;

}

